body{
    margin: 0%;
    padding: 0%;
    background: #efefef;
    font-family: sans-serif;
    font-weight: 300;
    color: #777;
    font-size: 16px;
}

#login-box{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0.6);
}

.left-box{
    padding: 5px auto;
    width: 25%;
    height: 100%;
    float: left;
    background-color: #000;
    text-align: center;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
}

h3{
    font-family: calibri;
    color: white;
    text-align: center;
}

h1{
    font-family: calibri;
    color: white;
    text-align: center;
}

.right-box{
    width: 75%;
    padding: 0;
    height: auto;
    background-color: aliceblue;
    background-size: cover;
    float: right;
}

.right-box div {
    padding: 40px;
}

label{
    margin: 0%; 
    color: black;
    font-size: 20px;
    font-family: calibri;
    font-weight: bold;
}

.right-box input[type="text"]{
    border: groove;
    padding-left: 100px;
    padding-top: 10px;
    background: transparent;
    
}

.right-box input[id="text"]{
    padding: 100px;
    top: 100;
    border: groove;
    border-collapse: black;
}

.right-box .top-box {
    margin: 0;
    padding: 5px 10px;
    color: FFF;
    background: #000;
    min-height: 80px;
}