body{ 
    background: url('https://res.cloudinary.com/kome/image/upload/v1570157460/hng/optionbackground_i7tfnf.jpg');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.wrap{ /*Styling for sign Up/In box*/
    box-sizing: border-box;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: auto;
    max-width:350px;
    border-radius: 30px;
    margin: auto;
    padding: 40px;
    background: transparent;
    background: fixed;
    margin-top: 30px;
    text-align: center;
    transition: 0.25s;
    top: 50%;
    left: 60;

}

h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #27d65f;
}

p{
    text-align: center;
    font-size: 16px;
    color: hsl(180, 17%, 95%);
    margin-bottom: 1rem;
}

a{
    color: rgb(5, 7, 116);
    text-decoration: none;
    background-color: transparent;
}

input[type=text], input[type=email], input[type=password]{
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 4px solid #27d65f;
    padding: 10px 10px;
    width: 200px;
    outline: none;
    font-weight: bold;
    border-radius: 28px;
    transition: 0.25s;
    background: rgba(0, 0, 0, 0.10);
}

input[type=submit]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 4px solid #2ecc71;
    padding: 10px 20px;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 28px;
    transition: 0.25s;
    cursor: pointer;
}

::placeholder{
    color: whitesmoke;
    font-size: 12px;
    font-family:'Ubuntu', sans-serif;
}

ul{
   display: block; 
}

ul li{
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
}

ul a {
    display: inline-block;
    position: relative;
    margin-right: 40px;
    margin-left: 0px;
    border-radius: 50%;
    justify-self: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: #fff;
    line-height: 30px;
    font-size: 20px;
    overflow: hidden;
    box-decoration-break: 3px solid #fff;


}

ul a .fab{ /*font awesome icons inside for sign up via social media link*/
    position: relative;
    color: black;
    transition: .5s;
}

ul a:hover .fab{
    color: #fff;
    transform: rotateY(360deg);
}

ul a:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(63, 162, 196);
    transition: .5s
}

ul a:hover::before{
    top: 0;
}

ul li:nth-child(1) a::before{
    background: #3b5999;
}

ul li:nth-child(2) a::before{
   background: #55acee;; 
}

ul li:nth-child(3) a::before{
    background: #dd4b39;
}



.footer{
    text-align: right;
    position: fixed;
    z-index:9999999;
    bottom: 0;
    width: auto;
    right: 1%;
    cursor: pointer;
    line-height: auto;
}

.footer img{ /*image/webhostlogo inside footer*/
    width: 150px;
}


