*{
	box-sizing: border-box;
} 

body{
	margin-top: 5px;
	padding: 0;
	font-family: cursive;
}
  
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
	width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin-top: 50px;
}

.column1{
	width:30%;
	margin: 10px;
	background-image: url('../img/hood.jpg');
}

.img1{
	width: 300px;
	height: 900px;
	position: relative;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.column1 h1{
	font-family: Times new roman;
	font-size: 85px;
	font-weight: bold;
	color: grey;
}

.column1 p1{
	font-family: Times new roman;
	font-size: 18px;
	color: white;
}

.column2{
  float: center;
  width: 45%;
  margin: 10px;
  padding: 20px;
  }

 .center{
 	float: center;
 	width: 150px;
 	height: 150px;
 	margin-left: 40%;
 }

h1{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: blue;
}

p{
	text-align: center;
	font-weight: bold;
	font-family: cursive;
}


p2{
	text-align: center;
	font-family: cursive;
}

input[type=text] {
	border: none;
	border-bottom: 1px solid grey;
	width: 80%;
	padding-bottom: 20px;
	margin-bottom: 5px;
}

input[type=email] {
	border: none;
	border-bottom: 1px solid grey;
	width: 80%;
	padding-bottom: 20px;
	margin-bottom: 5px;
}

input[type=number] {
	border: none;
	border-bottom: 1px solid grey;
	width: 80%;
	padding-bottom: 20px;
	margin-bottom: 5px;
}

input[type=password] {
	border: none;
	border-bottom: 1px solid grey;
	width: 80%;
	padding-bottom: 20px;
	margin-bottom: 5px;
}


.btn{
	font-size: 16px;
 display: inline-block;
 color: white;
 background-color: Dodgerblue;
 border-radius: 20px;
 border-color: #55ACEE;
 width: 80%;
 padding: 15px;
}

.fa {
  margin-left: -12px;
  margin-right: 8px;
}
 
 .column3{
 	width:25%;
 	margin: 10px;
 }

 .column3 >.img{
 	width:400px;
 	height:400px;
 	border-radius: 50%;
 }

 .column3 h1{
 	font-family: times new roman;
 	font-weight: bolder;
 	font-size: 30px;
 	position: relative;
 }

 .column3 h1:before{
 	content: "";
 	display: block;
 	width: 100px;
 	height: 2px;
 	position: absolute;
 	left: 0;
 	top: 50%;
 	background: blue;
 }

 .column3 h1:after{
 	content: "";
 	display: block;
 	width: 100px;
 	height: 2px;
 	position: absolute;
 	right: 0;
 	top: 50%;
 	background: blue;
 }

 .img3{
 	width: 100px;
 	height: 80px;
 }

.partner{
	padding: 25px;
}